.container {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}


#gifs-appear-here {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    color :blue;
}

.giphy {
    margin: 20px;
}

.gifs {
    margin-right: 50px;
}

/* button {
    border: 2px solid #5cbcf6;
    background: #5cbcf6;
    color: #fff;
    padding: 5px;
    margin: 5px;
} */

/* Button */
button {
	overflow: hidden;
}

button:after {
	width: 101%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

button:active:after {
	height: 130%;
	opacity: 1;
}

/* Button 2b */
button {
	border-radius: 0 0 5px 5px;
}

button:hover {
	box-shadow: 0 8px #cb4e4e;
	top: -2px;
}

button:active {
	box-shadow: 0 0 #cb4e4e;
	top: 6px;
}

button {
    border-radius: 0 0 5px 5px;
}

button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 10px;
    display: inline-block;
    margin: 15px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
button {
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}


button:focus {outline:0;}

#searchBtn {
    margin-top: 20px;
}