body {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}


#gifs-appear-here {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    font-weight: 500;
    color: #555;
    text-decoration: none;
    font-size: 30px;
}

.giphy {
    margin: 20px;
}

.gifs {
    margin-right: 50px;
}

button {
	overflow: hidden;
}

button:after {
	width: 101%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

button:active:after {
	height: 130%;
	opacity: 1;
}

/* Button 2b */
button {
	border-radius: 0 0 5px 5px;
}

button:hover {
	box-shadow: 0 8px #1dbf73;
	top: -2px;
}

button:active {
	box-shadow: 0 0 #1dbf73;
	top: 6px;
}

button {
    border-radius: 0 0 5px 5px;
}

button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 10px;
    display: inline-block;
    margin: 15px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
button {
    background: #1dbf73;
    color: #fff;
    box-shadow: 0 6px #1dbf73;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

button:focus {outline:0;}

#searchBtn {
    margin-top: 20px;
    color: #1dbf73;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 20px;
    border-radius: 3px;
    border: 1px solid #1dbf73;
    outline: none;
}

#searchBtn:hover {
    color: #fff;
    background: #1dbf73;
    outline: none;
}
